.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;

    --text-default-color: #fff;
}
