.theme-light {
    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: #222;
    --text-error-color: red;
}
